#todo{
  
  margin-top: 30px;
  text-align: center;
  padding: 40px;
}

.highlighted{
  background-color: yellow;
}

#rid{
  background-color: yellow;
}

#btnDeleteAll{
  margin-right: 30px;
  margin-bottom: 10px;
}

#btnDone,#btnCancel{
  margin-right: 4px;
}